* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 20px auto;
    }
   img {
    max-width: 100%;
   }
   .profile-img {
    width: 180px;
   } 
  .banner {
    border: 2px solid black;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   background: linear-gradient(to right,
   pink 0%
   pink 50%
   paleturquoise 50%
   paleturquoise 100%);
  }
  
  .banner-name::before{
    content:" ";
    display: block;
    height: 2px;
    width: 390px;
    position: absolute;
    top: 50%;
    left:-395px;
    right:0;
    background: red;
  }
  .banner-name{
    position: relative;
  }
  /* For the pseudo-elements to be applied to the target element, we must set the position of the element to a relative, this will make all the movement of the :before and :after be relative to the parent  */

  .banner-name::after{
    content:" ";
    display: block;
    height: 2px;
    width: 180px;
    position: absolute;
    top: 50%;
    left:375px;
    right:0;
    background: red;
  }
  .profile-img:before{
    content:" ";
    display: block;
    height: 2px;
    width: 390px;
    position: absolute;
    top: 50%;
    left:-395px;
    right:0;
    background: red;
  }
  .profile-img{
    position: relative;
  }